@import './scss/bootstrap';
@import './scss/screen-loader';
@import './scss/auth';
@import './scss/customTable';
@import './scss/customHome';


#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 0 auto;
}

.shadow {
  box-shadow: 1px 10px 25px 0px rgba(3, 2, 41, 0.07);
}